{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}login{% endblock page_title %}

{% block page_content %}
<div class="col d-flex justify-content-center">

  <div class="card shadow p-3 mb-5 rounded mt-4 " style="width: 28rem;">
    <h4 class="text-center">Login</h4>
  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" required id="id_email exampleInputEmail1" aria-describedby="emailHelp">
      {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" required id="id_password exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <div class="text-center">
      <input class="btn btn-primary" type="submit", value="Submit">
    </div>
  </form>
  </div>
</div>

<div class="text-center">
  <span>New User <a href="{% url 'accounts:user-signup' %}">Create Account</a></span> <br>
  <span>Go to <a href="/">Home</a></span>
</div>

{% endblock page_content %}



{% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
      <h2>Log in</h2>
      <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit", value="submit">

    </form>

    <button><a href="{% url 'accounts:user-signup' %}">Create Account</a></button>
    </div>
  </div>
