{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}
{% block page_title %}student reg{% endblock page_title %}


{% block page_content %}

  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{ user_type }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-2">Sign up</button>
      </form>
    </div>
  </div>

{% endblock page_content %}